@use '~/utils/scss/mixin' as *;
@use '~/utils/scss/variables' as *;

.cart-order-info{
    padding: rem(16);

    @include screen(mobile){
        padding: rem(16) rem(4);
    }
}
.cart-title{
    font-size: rem(18);
    font-weight: 600;
    margin-top: 24px;

    @include screen(mobile){
        margin-top: 0;
    }
}
.box-input-sex{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 24px;
}
.wrap-input-sex label{
    margin-left: 8px;
}
.input-info-customer{
    display: flex;
    align-items: center;
    margin-top: rem(20);
    gap: 18px;

    @include screen(mobile){
        margin-top: rem(14);
    }
}
.input-info-customer input{
    background: #fff;
    border-color: #1E9800;
    box-shadow: 0 0 0 1px #1E9800; 
    width: 100%;
    height: rem(40);
    background: #FFFFFF;
    color: var(--color-text);
    border: 1px solid var(--color-line-border);
    border-radius: 4px;
    outline: none;
    padding: 0 16px;
    font-size: rem(14);
    font-weight: 400;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none !important;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;

}
.input-info{
    width: 100%;
    position: relative;
}
.input-info-customer label{
    position: absolute;
    top: -8px;
    left: 16px;
    background: #fff;
    font-size: 12px;
    padding: 2px 6px;
    color: $color-sub-text;
}
.input-ship{
    display: flex; 
    align-items: center;
    gap: 8px;
    margin-top: 14px;
}
input:focus,
input:valid {
  background-color: white !important;
  outline: none; /* nếu không muốn viền */
}
input:-webkit-autofill {
    background-color: white !important;
    transition: background-color 100000s ease-in-out 0s; /* trick để giữ màu */
    -webkit-text-fill-color: black !important; /* màu chữ */
  }