@use '~/utils/scss/mixin' as *;
@use '~/utils/scss/variables' as *;

$primary-color: #e30119;
$category-color: #bc1728;
$main-width: 1200px;
$bg-white: #fff7f7;



.header-banner{
    background-color: black;
    min-height: 52px;

    // Laptop - tablet
    @media (min-width: 740px) and (max-width: 991px) {
        display: none;
        
    }
    // Mobile
    @media (min-width: 576px) and (max-width: 739px) {
        display: none;
    }
    @media (max-width: 575px) {
        display: none;
    }
}
.content-header{
    // background-color: $primary-color;
    // background: $bg-primary;
    // background: linear-gradient(to top, #ffdae0, $bg-primary);
    background: linear-gradient(to top, $bg-gradient, $bg-primary);
    position: sticky;
    // padding-top: env(safe-area-inset-top, 20);
    // padding-top: 18px;
    top: 0;
    left: 0;
    z-index: 16;
    // @include screen(mobile) {
    //     position: sticky;
    //     top: rem(16);
    // }

    .navbar-header{
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: 16px 0;
        gap: 10px;

        @include screen(tablet) {
            padding: 8px 0;
        }
        @include screen(mobile) {
            padding: 4px 0;
        }
        
        .category-header{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 9px;
            width: 105px;
            height: 42px;
            padding: 2px 4px;
            background-color: $category-color;
            background-color: $bg-button;
            color: $bg-white;
            border-radius: 4px;

            @include screen(tablet) {
                display: none;
                width: 50px;

            }
            @include screen(mobile) {
                display: none;
                width: 50px;

            }

            .categoryIcon{
                font-size: 24px;
                display: inline-flex;
            }
            .category-text{
                font-weight: 600;
                font-size: 12px;
                user-select: none;

                @include screen(tablet) {
                    display: none;
                }
                @include screen(mobile) {
                    display: none;
                }
            }
        }
        .category-header:hover {
            cursor: pointer;
        }
        .overlay-menu-mobile{
            background: transparent;
            width: 100%;
            height: 100%;
        }
        .category-header-mobile{
            display: none;
            justify-content: center;
            align-items: center;
            gap: 9px;
            width: 105px;
            height: 42px;
            padding: 2px 4px;
            background-color: $category-color;
            color: $bg-white;
            border-radius: 4px;

            @include screen(tablet) {
                display: flex;
                width: 50px;
                background-color: transparent;
            }
            @include screen(mobile) {
                display: flex;
                width: 50px;
                background-color: transparent;
            }

            .categoryIcon{
                font-size: 24px;
                display: inline-flex;
            }
            .category-text{
                font-weight: 600;
                font-size: 12px;
                user-select: none;

                @include screen(tablet) {
                    display: none;
                }
                @include screen(mobile) {
                    display: none;
                }
            }
        }
        .category-header-mobile:hover {
            cursor: pointer;
        }
    
        .link{
            height: inherit;
            display: block;
        }
        .search{
            position: relative;
            flex: 1;
            min-width: rem(200);
            
            .dropdown-search-heading{
                padding: 10px;
                font-size: rem(14);
            }
            .dropdown-search-result{
                display: none;
                position: absolute;
                top: 102%;
                left: 0;
                width: 200%;
                max-height: 500px;
                overflow-y: auto;
                padding: 0 10px;
                background-color: #fff;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                @include screen(laptop){
                    width: 120%;
                }
                @include screen(tablet){
                    width: 100%;
                }
                @include screen(mobile){
                    width: 100%;
                    position: fixed;
                    top: 60px;
                    left: 10px;
                    right: 10px;
                }
            }
            .img-thumbnail img{
                object-fit: contain;
            }
            .price-sale{
                color: $color-primary;
            }
            .price{
                margin-left: 8px;
                text-decoration: line-through;
            }
            @include screen(tablet){
                min-width: rem(170);
            }
            @include screen(mobile){
                min-width: rem(150);
            }
            
        }
        .inputSearchWrap{
            position: relative;
            background-color: #fff;
            border-radius: 6px;

            .inputSearch{
                width: 100%;
                height: 42px;
                border-radius: 4px;
                padding: 8px 50px 8px 15px;
                font-size: rem(14);
                font-weight: 500;
                border: none;
                outline: none;


                // &:focus ~ .dropdown-search-result{
                //     display: block !important;
                // }
                @include screen(mobile){
                    font-size: rem(12);
                    height: 36px;
                }
            }

            .inputIcon{
                width: 30px;
                height: 100%;
                position: absolute;
                text-align: center;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                top: 50%;
                right: 0;
                font-size: 18px;
                transform: translateY(-50%);
                color: #212529;
            }
            .inputIcon > *:first-child {
                display: inline-block;
                height: 100%;
            }
        }
        
    }
    
}
.banner-img{
    height: 100%;
}
.option-wrap{
    display: flex;
    gap: rem(10);

    @include screen(laptop){
        // gap: rem(8);
    }
    @include screen(tablet){
        display: none;
        gap: 0;
    }
    @include screen(mobile){
        display: none;
    }
}
.option-wrap-mobile{
    color: #111111;
    display: flex;
    flex-direction: column;

    .account{
        cursor: pointer;
        transition: color 0.2s ease-in-out;

        &:hover{
            color: #53afff;
        }
    }
    .navbar-text-link-mobile{
        display: flex;
        align-items: center;
        gap: 6px;
        background: #e9e9e9;
        // margin-bottom: 4px;
        border-bottom: 1px solid #ccc;
        padding: 8px;
        border-radius: 2px;
    }
    .navbar-text-link-mobile-info{
        display: flex;
        align-items: center;
        gap: 6px;
        // background: #e9e9e9;
        margin-bottom: 4px;
        padding: 8px;
    }
    
}
.option-wrap-mobile-heading{
    font-size: rem(16);
    font-weight: 500;
    padding: 10px 6px;
}
.nav-mobile{
    display: none;
    overflow-x: auto;
    padding: 10px 6px 14px;

    @include screen(tablet){
        display: flex;
        gap: 6px;
    }
    @include screen(mobile){
        display: flex;
        gap: 6px;
    }

    .nav-link-mobile{
        // min-width: 20%;
        text-align: center;
        padding: 0 6px;
        flex-shrink: 0;
        white-space: nowrap;
    }
    .nav-text-mobile{
        font-size: rem(12);
        color: #fff;
    }
}
.logo_mobile{
    display: none;

    @include screen(tablet){
        display: block;
        width: 40px;
    }

    @include screen(mobile){
        display: block;
        width: 30px;
    }
}  
.icon-size{
    width: 36px;
    height: 100%;
    font-size: 22px;
    text-align: center;
    // margin-right: 4px;

    @include screen(tablet){
        margin-right: 0;
    }

    @include screen(mobile){
        margin-right: 0;
    }
}
.icon-size > svg {
    height: inherit;
}
.logo-header{
    width: 140px;
    height: 100%;
    display: block;

    @include screen(tablet){
        display: none;
    }

    @include screen(mobile){
        display: none;
    }
}

.navbarListRight{
    display: flex;
    justify-content: space-between;
}
.navbar-text-link{
    display: flex;
    // flex: 1;
    align-items: center;
    color: $bg-white;
    text-decoration: none;
    font-size: rem(15);
    font-weight: 600;
    // padding: 0 10px;

    @include screen(mobile){
        padding: 0;
    }
}
// .text-nowrap{
//     white-space: nowrap;
// }

.text-user{
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding-right: 4px;
    line-height: 16px;
    white-space: nowrap;
}
.user-info{
    position: relative;
}
.user-info::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0;
    top: 96%;
    background: transparent;
}
.user-info:hover .dropdown-model-user{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.bgColorLogin{
    width: auto; 
    height: 42px;
    border-radius: 6px;
    margin-left: rem(8);
    background-color: $category-color;
    background-color: $bg-button;
}
.bgColorLogin .navbar-text-link{
    height: 100%;
    padding-right: 10px;
}
.mt_banner{
    margin-top: 126px;
}
.content-navigate{
    background-color: $bg-white;


    @include screen(tablet) {
        display: none;
    }

    @include screen(mobile) {
        display: none;
    }

    .navigate-list{
        height: 100%;
        padding: 4px 0;
    }
    
    .navigate-item{
        position: relative;
        cursor: pointer;
        flex: 1;
        
        
        &::after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 1px;
            height: 62%;
            margin: auto;
            background: #CFCFCF;

        }

        @include screen(tablet) {
            &:nth-child(3)::after {
                display: none;
            }
        }
    }
    
    
    .navigate-item:last-child::after{
        content: none;
    }
    .navigate-item a{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        white-space: nowrap;
        color: #111111;
        font-weight: 600;
        font-size: 13px;
        text-decoration: none;
        transition: ease 0.3s;
        padding: 10px 22px;
        &:hover{
            color: #E30019;
    
        }
    }
    .navigateIcon{
        font-size: 20px;
    }
}
.cart-mobile{
    display: none;
    margin: 0;
    height: rem(42);
    background: $bg-button;
    border-radius: 4px; 
    padding: 6px;

    @include screen(tablet) {
        display: block;
    }
    @include screen(mobile) {
        display: block;
        height: rem(36);
    }

    .navbar-text-link{
        @include screen(tablet) {
            padding: 0;
        }
    }
}
.menu_mb_list{
    display: none;
}
.cart-notify{
    position: relative;
}
.notification-cart{
    position: absolute;
    top: 0;
    left: 24px;
    display: inline-block;
    vertical-align: top;
    background: #FDD835;
    border: 2px solid #fff;
    color: #111111;
    width: 14px;
    height: 14px;
    font-size: 9px;
    font-weight: 600;
    line-height: 12px;
    text-align: center;
    border-radius: 999px;
}
.wrap-text{
    // white-space: nowrap;
    // color: $text-gray;

    @include screen(laptop) {
        display: none;
    }
    @include screen(tablet) {
        display: none;
    }
    @include screen(mobile) {
        display: none;
    }
}
// laptop
@media (min-width: 992px) and (max-width: 1200px) {
    
    .content-navigate{
        .navigateList{
            overflow-x: auto;
            flex-wrap: nowrap;
            
            &::-webkit-scrollbar{
                display: none;
            }
        }
    }
}
// .navbar-wrap{
//     max-width: 100%;

//     @include screen(tablet) {
//         padding: 0 18px;
//     }

//     @include screen(mobile) {
//         display: block;
//         padding: 0 14px;
//     }
// }
// tablet
@media (min-width: 740px) and (max-width: 991px) {
    .logoHeader{
        display: none;
    }
    // .navbar-wrap{
    //     max-width: 100%;
    //     margin-left: 0;
    //     margin-right: 0;
    //     padding: 0 10px;
    // }
    .menu_mb_list{
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
        align-items: center;
        overflow-x: auto;
        padding: 0 10px 8px;

        &::-webkit-scrollbar{
            display: none;
        }

        > * {
            flex-shrink: 0;
            
        }
        
        & a{
            display: flex;
            align-items: center;
            color: #fff;
            padding: 6px 10px;
            font-size: 14px;
            font-weight: 500;
        }
        & i {
            display: none;

        }
        & svg{
            display: none;
        }
        
    }
    .contentNavigate{
        display: none;
    }
}


// mobile
@media (min-width: 576px) and (max-width: 739px) {
    .logoHeader{
        display: none;
    }
    .logo_mobile{
        display: block;
        width: 40px;
    }
}

@media (max-width: 575px) {
    .viewedProduct{
        display: none;
    }
}

.fixed_header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    transition: all 2s ease-in;
}

.user-info{
    position: relative;
    height: 100%;
    cursor: pointer;
}
.dropdown-model-user{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    min-width: 300px;
    transform-origin: 100% 10%;
    transform: scale(0.9);
    top: 134%;
    right: 0;
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 2px 6px rgba(193, 193, 193, 0.25);
    transition: all 0.12s ease;
}
.dropdown-model-user-item{

    & a{
        display: block;
        padding: 14px 0;
    }
}
.dropdown-model-user-link{
    display: flex; 
    align-items: center;
    gap: 8px;
    font-size: 15px;
}
.dropdown-model-user-link:hover span{
    text-decoration: underline;
}
