@use '../../utils/scss/mixin' as *;

.category_products{
    margin-top: 20px;
    background-color: #fff;
    border-radius: 6px;

    @include screen(mobile) {
        // display: none;
    }
}
.product_list{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    align-items: center;
    height: 100%;
    padding: 10px;
    overflow-x: auto;

    @include screen(laptop) {
        grid-template-columns: repeat(8, 1fr);
    }
    @include screen(tablet) {
        grid-template-columns: repeat(6, 1fr);
    }
    @include screen(mobile) {
        grid-template-columns: repeat(10, 20%);
    }
}
.product_item{
    height: 100%;

}
.product_item_link{
    display: block;
    height: 100%;
    padding: 10px 18px;
    text-align: center;

    @include screen(tablet) {
        padding: 8px 14px;
    }
    @include screen(mobile) {
        padding: 6px 10px;
    }
}
.product_item_link figure{
    height: 100%;
    display: flex ;
    flex-direction: column;
}
.product_item_img{
    flex: 1;
    width: 100%;
}
.product_item_text{
    font-size: rem(14);
    font-weight: 500;
    margin-top: 6px;
    white-space: nowrap;

    @include screen(mobile) {
        font-size: rem(12);
    }
}

// // PC
// @media (min-width: 992px) and (max-width: 1200px) {
    
// }
// // Laptop - tablet
// @media (min-width: 740px) and (max-width: 991px) {
//     .product_list{
//         grid-template-columns: repeat(8, 1fr);
//     }
// }
// // Mobile
// @media (min-width: 576px) and (max-width: 739px) {
//    .product_list{
//         grid-template-columns: repeat(6, 1fr);
//     }
// }
// @media (max-width: 575px) {
//    .product_list{
//         display: none;
//     }
// }