@use '~/utils/scss/mixin' as *;
@use '~/utils/scss/variables' as *;

.btnFlashSale{
    background-color: #fff;
    color: #000;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    margin-left: auto;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #fff;
    white-space: nowrap;

}
.btn_view_more{
    display: inline-flex;
    align-items: center;
    padding: 7px 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    background: #1AA6F7;
    background: $bg-button;
    border-radius: 8px;
}
.btn-slider{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: rem(32);
    height: rem(32);
    background: #ECECEC;
    box-shadow: 0px 0px 4.80687px rgba(0, 0, 0, 0.2);
    border-radius: 50%;

    @include screen(mobile){
        width: rem(30);
        height: rem(30);
        font-size: rem(10);
    }
}
.btn-left-viewed{
    left: 10px;
}
.btn-right-viewed{
    right: 10px;
}
.btn-prev-sale{
    left: 10px;
}
.btn-next-sale{
    right: 10px;
}
.btn-left-products{
    left: 10px;

    @include screen(mobile){
        left: 0;
    }
}
.btn-right-products{
    right: 10px;

    @include screen(mobile){
        right: 0;
    }
}