

.inner-order-page{
    border-radius: 6px;
    padding: 20px;
    background: #fff;
    max-width: 50%;
    margin: 20px auto;
}
.order-heading{
    background: #dcffd9;
    color: #139407;
    padding: 14px 0;
    font-weight: 500;
    font-size: 18px;
    margin: 0 auto;
    border-radius: 6px;
    text-align: center;
    vertical-align: middle;
}
.order-heading-text{
    margin: 18px auto;
    width: 80%;
    text-align: center;
}
.info{
    padding: 20px;
    background: #dadada;
}
.info-order{
    margin: 14px 0;
}
.info-order-header{
    font-size: 16px;
    font-weight: 500;
}
.info-order-header{
    font-size: 18px;
    font-weight: 500;
}
.info-order-text{
    display: block;
    color: #2c2c2c;
    padding-top: 8px;
    font-size: 16px;
}
.price{
    font-weight: 500;
    color: rgb(224, 39, 39);
}
.btn-link-home{
    display: block;
    text-align: center;
}
.btn-link-home button{
    margin-top: 20px;
}