
@use '~/utils/scss/mixin' as *;
@use '~/utils/scss/variables' as *;


.inner-order-page{
    border-radius: 6px;
    padding: 20px;
    background: #fff;
    max-width: 60%;
    margin: 20px auto;

    @include screen(laptop){
        max-width: 80%;
    }
    @include screen(tablet){
        max-width: 100%;
    }
    @include screen(mobile){
        max-width: 100%;
        padding: 8px;
        margin: 0;
    }
}
.order-heading{
    background: #dcffd9;
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    background: $bg-primary;
    // color: #2dc26d;
    color: $text-white;
    padding: 14px 0;
    font-weight: 500;
    font-size: 18px;
    margin: 0 auto;
    border-radius: 6px;
    text-align: center;
    vertical-align: middle;
}
.order-heading-text{
    margin: 18px auto;
    width: 80%;
    text-align: center;

    @include screen(tablet){
        margin: 14px auto;
    }
    @include screen(mobile){
        margin: 10px auto;
        font-size: rem(14);
    }
}
.info{
    padding: rem(20);
    // background: #dadada;
    // background-image: radial-gradient( circle 400px at 6.8% 8.3%,  rgba(255,244,169,1) 0%, rgba(255,244,234,1) 100.2% );
    // background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    // background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
    // background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    background: #f1f1f1;
    border-radius: 6px;

    @include screen(tablet){
        padding: rem(14);
    }
    @include screen(mobile){
        padding: rem(10);
    }
}
.info-order{
    margin: 14px 0;

    @include screen(tablet){
        margin: 10px 0;
    }
    @include screen(mobile){
        margin: 6px 0;
    }
}
.info-order-header{
    font-size: rem(18);
    font-weight: 500;
    color: #444444;

    @include screen(tablet){
        font-size: rem(16);
    }
    @include screen(mobile){
        font-size: rem(14);
    }
}
.info-order-text{
    display: block;
    color: $color-sub-text;
    padding-top: rem(8);
    font-size: rem(16);

    @include screen(tablet){
        padding-top: rem(6);
        font-size: rem(14);
    }
    @include screen(mobile){
        padding-top: rem(4);
        font-size: rem(12);
    }
}
.price{
    font-weight: 500;
    color: rgb(224, 39, 39);
}
.btn-link-home{
    display: block;
    text-align: center;
}
.btn-link-home button{
    margin-top: rem(20);

    @include screen(tablet){
        margin-top: rem(14);
    }
    @include screen(mobile){
        margin-top: rem(10);
    }
}
.btn{
    background: $bg-button;
    box-shadow: none;
    outline: none;
    border: none;
    color: $text-white;
}