@use '~/utils/scss/mixin' as *;
@use '~/utils/scss/variables' as *;


.select-province{
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    margin-top: 18px;
}
.province{
    width: 100%;
    height: rem(40);
    background: #FFFFFF;
    color: var(--color-text);
    border: 1px solid #CFCFCF;
    border-radius: 4px;
    outline: none;
    padding: 0 20px 0 16px;
    font-size: rem(16);
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none !important;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;

    @include screen(mobile){
        font-size: rem(14);
    }
}
.address-number{
    position: relative;
    flex: 1;


}
.address-number label{
    position: absolute;
    top: -6px;
    left: 16px;
    font-size: 12px;
    background: #fff;
    color: $color-sub-text;
    padding: 2px 6px;
}
