@use '../../utils//scss/mixin' as *;


.banner-list{
    margin-top: 16px;
    margin-bottom: 16px;
    flex-wrap: nowrap;
    overflow-x: auto;

    &::-webkit-scrollbar{
        display: none;
    }
    
    @include screen(tablet){
        margin-top: 10px;
        margin-bottom: 10px;
    }
    @include screen(mobile){
        margin-top: 6px;
        margin-bottom: 6px;

    }
}