

.row-table{
    height: 50px !important;
}
.col-table{
    vertical-align: middle;
    padding: 8px 10px !important;
}
.price{
    color: #e30119;
    font-weight: 500;
}
.text-color{
    font-weight: 600;
}