
.products-admin{
    background: #fff;
    // border-radius: 8px;
    padding: 20px 40px;
}
.row-table{
    height: 50px !important;
}
.col-table{
    vertical-align: middle;
    width: auto;
    padding: 8px 10px !important;
    overflow: hidden;
}
.price{
    color: #e30119;
    font-weight: 500;
    white-space: nowrap;
}
.text-color{
    font-weight: 600;
}

.heading-tab{
    // display: flex;
    // align-items: center;
    margin-bottom: 20px;
}