
.products-admin{
    background: #fff;
    // border-radius: 8px;
    padding: 20px 40px;
}
// .dark-theme{
//     background: #141414;
//     color: #d4e1d9;
// }
.row-table{
    // table-layout: fixed;
    // background: #e30119;
    border: none;
    height: 50px !important;
}
.col-table{
    vertical-align: middle;
    width: auto;
    padding: 8px 10px !important;
    overflow: hidden;
}
.price{
    color: #e30119;
    font-weight: 500;
    white-space: nowrap;
}
.text-color{
    font-weight: 600;
}
.created-at{
    color: #08ae70;
    font-weight: 500;
    white-space: nowrap;
}
.heading-tab{
    // display: flex;
    // align-items: center;
    margin-bottom: 20px;
}
.flex-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}