.sidebarRight{
    display: flex;
    height: 100%;
    border-radius: 6px;

    .sidebarSliderLeft{
        display: flex;
        flex-direction: column;
        height: 100%;
        flex: 2;
    }

    .sidebarBannerRight{
        width: calc(100% / 3);
        padding-left: 8px;
    }
    // .list_banner{
    //     height: 100%;
    //     display: flex;
    //     flex-direction: column;
    // }
    // .list_banner li{
    //     height: auto;
    // }

    .sidebarBannerList{
        display: flex;
        padding-top: 8px;

    }
}

.sidebarRight img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.sidebarBannerRight ul > *:not(:first-child){ 
    padding-top: 8px;
}
// .sidebarBannerRight img{
// }

@media (min-width: 740px) and (max-width: 991px) {
    // .wrapperFeature{
    //     display: block;
    // }
    .sidebarRight{
        // min-height: 300px;
        display: block;
        padding: 0 10px;
        .sidebarBannerRight{
            display: none;
        }
    
        .sidebarSliderLeft{
            flex: 1;
            // min-height: 200px;
        }
        .sidebarBannerList{
            display: none;
        }
    }
    
}
@media (max-width: 739px) {
    .sidebarRight{
        // min-height: 200px;
        padding: 0 10px;

        .sidebarBannerList{
            display: none;
        }
        .sidebarBannerRight{
            display: none;
        }
        .sidebarSliderLeft{
            flex: 1;
            min-height: 100px;
        }
        .sidebarBannerList{
            display: none;
        }
    }
    
}