@use '../../utils/scss/mixin' as *;

.banner_mid_wrap{
    position: relative;
    display: none;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    margin-top: 14px;
    overflow: hidden;

    @include screen(mobile) {
        flex-wrap: wrap;
        margin-top: 4px;
        padding: 0 4px;
        gap: 4px;
    }
}
.banner_mid_item{
    position: relative;
}
.banner_mid_wrap > * {
    width: 100%;
}
.banner_mid_img{
    width: 100%;
}

