@use '../../utils/scss/mixin' as *;

.banner_mid_wrap{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    // align-items: center;
    margin-top: 14px;
    overflow: auto;

    @include screen(mobile) {
        // flex-wrap: wrap;
        margin-top: 4px;
        // padding: 0 4px;
    }
}
.banner_mid_item{
    position: relative;
}
.banner_mid_wrap > * {
    // width: 100%;
}
.banner_mid_img{
    width: 100%;
}

