.wrapper{
    height: 100%;
    background-color: #ececec;
}

.overlay{
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.2s linear;
    z-index: 15;
}