@use '~/utils/scss/mixin' as *;

.breadcrumb-navigate{
    padding: 16px 0;

    @include screen(tablet){
        padding: 10px 20px;
    }
    @include screen(mobile){
        display: none;
    }
    
}
.img-nav{
    display: flex;
    align-items: center;
    gap: 6px;

}
.breadcrumb-link{
    color: #1250dc;
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    

}
.breadcrumb-link-sub{
    font-weight: 400;
    color: #6D6E72;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.breadcrumb-link-home{
    color: #1250dc;

}

.breadcrumb-link-home{
    font-size: 20px;
}