.app{
    width: 100%;
    
    &_main{
        background-color: #ececec;
        padding-top: 20px;
    }

    &_feature{
        padding-top: 10px;
        // gap: 8px;
        height: auto;
    }

}

.bannerList{
    flex-wrap: nowrap;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .menu_wrap{
        max-width: 100%;
        padding-top: 20px;
    }
    .wrapperFeature{
        padding: 0 10px;
    }
}
@media (min-width: 740px) and (max-width: 991px) {
    .menu_wrap{
        max-width: 100%;
    }
    
}

