.wrapper{
    width: 100%;

    &Main{
        padding: 18px;
        background-color: #ececec;
    }

    &Feature{
        display: flex;
        gap: 8px;
    }

    .bannerList{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

