@use '../../utils//scss/mixin' as *;


.app{
    width: 100%;
    
    .app-main{
        padding: 20px 0 0;

        @include screen(tablet){
            padding: 10px 0 0x;
        }
        @include screen(mobile){
            padding: 0;
        }
    }
}




