
@use '~/utils/scss/mixin' as *;

.product-cart{
    margin-top: rem(30);

    @include screen(mobile){
        margin-top: rem(10);

    }
}
.inner-product-cart{
    display: flex;
    padding: 0 10px;

    @include screen(mobile){
        padding: 0;

    }
}

.product-cart-img{
    flex: 1;
}
.product-cart-img-link{
    display: inline-block;
    border: 1px solid #ECECEC ;
    vertical-align: middle;
    height: 100%;

}
.btn-delete{
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #6D6E72;
}
.product-cart-title{
    flex: 3;
    font-size: rem(15);
    font-weight: 500;
    padding: 0 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    @include screen(mobile){
        font-size: rem(12);
    }
}
.product-cart-title h3{
    line-height: 1.05rem;
    @include limit-line(4);
    
}
.product-cart-price{
    text-align: right;
    flex: 1;
}
.product-cart-price-sale{
    display: block;
    font-weight: 600;
    font-size: rem(18);
    color: #E30019;

    @include screen(mobile){
        font-size: rem(14);
    }
}
.product-cart-price-origin{
    display: block;
    margin-top: 6px;
    font-size: rem(14);
    color: #6D6E72;
    text-decoration: line-through;

    @include screen(mobile){
        font-size: rem(12);
    }
}
.product-cart-quantity{
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.btn-quantity{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    height: rem(32);
    width: rem(32);
    padding: 0;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    font-size: 20px;
    border-radius: 0;
    border: 1px solid #CFCFCF;
    border-radius: 4px 0 0 4px;

    @include screen(mobile){
        height: rem(24);
        width: rem(24);
    }
}
.input-quantity{
    background: #fff;
    font-weight: 400;
    font-size: rem(14);
    height: rem(32);
    width: rem(50);
    padding: 0;
    text-align: center;
    border: 1px solid #CFCFCF;
    border-left: none;
    border-right: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    overflow: visible;
    user-select: none;

    @include screen(mobile){
        height: rem(24);
        width: rem(34);
        font-size: rem(12);
    }
}
// .input-quantity:focus{
//     display: none;
// }
.btn-delete{
    cursor: pointer;
    margin-top: auto;
    
    &:hover{
        color: #E30019;
    }

    @include screen(mobile){
        margin-top: rem(4);
        padding: 0 rem(8);
        font-size: rem(12);
    }
}
