$color-text: #111111;
$color-primary: #E30019;
$color-hover: #E30019;
$color-title: #333333;
$color-price: #2c3c4d;
$color-old-price: #e2231a;
$color-new-price: #E30019;
$color-body-bg: #ECECEC;
$color-text-heading: #333333;
$color-text-blue: #1250dc;
$color-sub-text: #636363;