$color-text: #474747;
$color-primary: #E30019;
$color-hover: #E30019;
$color-title: #333333;
$color-price: #2c3c4d;
$color-old-price: #e2231a;
$color-new-price: #E30019;
$color-body-bg: #ECECEC;
$color-text-heading: #333333;
$color-text-blue: #1250dc;
$color-sub-text: #636363;

$text-gray: #aba6a9;
$text-white: #fff;

$border-color: #d3d3d3;
$border-hover-color: #eeeeeece;


// $bg-primary: #ee8694;
// $bg-primary: #ffa2af;
// $bg-primary: #fb909f;
$bg-primary: #ff7f91;
$bg-blue: #1677ff;

$bg-header: #ff788b;

// $bg-button: #ec6376;
$bg-button: #ff788b;

$bg-hover: #ec6376;
$bg-gradient: #ffc1cb;