.upload{
    margin-bottom: 14px;
    // height: 300px;
}
.upload label{
    color: #727272;
}
.preview-img{
    border-radius: 6px;
    background: #dfdfdfee;
}
.preview-img-box{
    position: relative;
    height: 300px;
    text-align: center;
}
.preview-img-box img{
    height: 100%;
    border: 1px solid #d3d3d3cb;
    margin: 0 auto;
}
.preview-drop{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    color: #8f8f8f;
    background: #fff;
    vertical-align: middle;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.preview-drop:hover{
    color: #ccc;
}
.list-img{
    display: flex;
    align-items: flex-start;
    max-height: 100px;
    // height: 100px;
    gap: 4px;
}
.list-img-item{
    background-color: #e2e2e28a;
    padding: 0 10px;
    max-width: 20%;
    height: 100%;
    position: relative;
}
.remove{
    position: absolute;
    width: 18px;
    height: 18px;
    padding: 2px;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
    top: -8px;
    right: -4px;
    background-color: #ccc;
    cursor: pointer;
}
.list-img-item img{
    // height: 100%;
    height: 100px;
    object-fit: cover;
}