@use '~/utils/scss/mixin' as *;
@use '~/utils/scss/variables' as *;

.megaMenu{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    width: calc(1220px - 235px);
    min-height: 496px;
    max-height: 100vh;
    height: 100%;
    background-color: #fff;
    border-radius: 6px;
    border-left: 8px solid #e0e0e0;
    overflow: auto;

    .megaMenuList{
        display: flex;
        align-items: start;
        align-content: start;
        flex-wrap: wrap;
        height: 100%;
        padding: 10px;
    }

    .megaMenuItem{
        width: 20%;
        padding: 5px 5px 16px;
    }

    .megaMenuLinkTitle{
        display: block;
        color: $color-primary;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 8px;
    }
    

    .submenuItem{
        display: block;
        margin-top: 8px;
        font-size: 12.5px;
        color: #111111;
        cursor: pointer;
        line-height: 1.5;
    }
}
.megaMenu a {
    text-decoration: none;
    outline: none;
}