@use '~/utils/scss/variables' as *;
@use '~/utils/scss/mixin' as *;

.flashSale{
    // width: 100%;
    height: 100%;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 10px;
}
.flash_sale_body{
    padding: 0 10px;

    @include screen(tablet){
        padding: 0;
    }
    @include screen(mobile){
        padding: 0;
    }
}
.flash_sale_content{
    // background-image: url('../../assets/flash_sale/background.webp');
    // background: linear-gradient(to right, $bg-primary, #ffdde1);
    background: linear-gradient(to bottom, $bg-primary, $bg-gradient);
    overflow: hidden;
    border-radius: 8px;

    @include screen(tablet){
        border-radius: 0;
    }
    @include screen(mobile){
        border-radius: 0;
    }
}
.content_sale{
    padding: 20px 16px;

    @include screen(tablet){
        padding: 14px 10px;
    }

    @include screen(mobile){
        padding: 10px 6px;
    }

}
.wrap_product_sale{
    position: relative;

}
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.wrap{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 16px;
    // background: linear-gradient(180deg, #1ad0f7 0%, #2940B8 100%);
    // background: linear-gradient(to right, $bg-header, #ffdde1);
    background: linear-gradient(to top, $bg-primary, $bg-gradient);

    @include screen(mobile){
        padding: 8px 10px 0;
    }

    .tabCountDown{
        display: flex; 
        gap: 4px;
    }
    .icon{
        font-size: 26px;
        color: #FFEE12;
    }
}
.tabCountDown{
    display: flex;
    align-items: center;
    margin-right: 8px;

    .countDown{
        background: #fff;
        font-size: 14px;
        display: inline-block;
        padding: 10px;
        border-radius: 4px;
        font-weight: 600;
    }
    .countDownDot{
        
        font-weight: 700;
        color: #111;
        font-size: 16px;
        color: #fff;
        
    }
}

.title{
     color: #FFEE12;   
     font-style: italic;
     font-weight: 900;
     font-size: rem(24);
     line-height: rem(32);
     text-transform: uppercase;
     padding-right: 8px;
     position: relative;
     white-space: initial;
     overflow: hidden;
     -webkit-line-clamp: 1;
     -webkit-box-orient: vertical;
     display: -webkit-box;
    user-select: none;

    @include screen(mobile){
        font-size: rem(20);
    }
}
.list_product_sale{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    user-select: none;
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;
    will-change: scroll-position;
}
.list_product_sale::-webkit-scrollbar{
    display: none;
}

.list_product_more{
    padding: 16px 0;
    text-align: center;

    @include screen(mobile){
        padding: 10px 0 16px;
    }
}

.interval_slider{
    transform: translateX();
    overflow: visible;
}

.dragging{
    user-select: none;
    cursor: grabbing;

}