
.orders{
    // background: #fff;
    
}
.title{
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px;

}
.action-tab-list{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.action-tab-item{
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    flex: 1;
    cursor: pointer;
}
.action-tab-after{
    position: absolute;
    top: 100%;
    left: 0;
    height: 3px;
    background: #e30119;
    transition: transform 0.3s ease;
}
.underline{
    height: 2px;
    background-color: red;
    width: 100%;
    position: absolute;
    bottom: 0;
}


.search-order{
    padding: 20px 0;
    background: #ececec;
}
.box-search-order{
    position: relative;
}
.inner-search-order{
    position: relative;
}
.search-order-input{
    background: #fff;
    padding: 0 0 0 28px;
    font-size: 16px;
    border: 0;
    background: #fff;
    outline: none;
    width: 100%;
    height: 40px;
}
.search-order-icon{
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);

}
.search-order-text{
    position: absolute;
    font-size: 14px;
    color: #1982F9;
    right: 0;
    top: 50%;
    height: 100%;
    line-height: 40px;
    padding: 0 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
.search-order-text::before{
    display: block;
    position: absolute;
    content: '';
    height: 60%;
    width: 2px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #ccc;
}
.table-order{
    border: 1px solid #000;
    width: 100%;
}
.order-cart{
    display: flex;
}
.table-label{
    text-align: center;
    vertical-align: middle;
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    padding: 0 8px;
    background: #ccc;
    border: 1px solid #818181;
}
.table-col{
    padding: 8px;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;

}
.total-price{
    color: #e30119;
    font-weight: 500;
}
.status-order{
    text-align: center;
    margin: 0 auto;
    padding: 2px 4px;
    // text-transform: capitalize;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 500;
}
.pending{
    border: 1px solid #caae2d;
    color: #caae2d;
}
.completed{
    border: 1px solid #08ae70;
    color: #08ae70;
}
.shipping{
    border: 1px solid #4a90e2;
    color: #4a90e2;
}
.center{
    text-align: center;
}