.cart-status{
    margin: 30px 0;
}



.img-qr{
    width: 50%;
    margin: 0 auto;
}
.info-pay{
    margin-top: 30px;
}
.info-pay p{
    text-align: center;
    margin-top: 8px;
    font-weight: 500;
    white-space: nowrap;
}
.info-pay span{
    text-align: center;
    margin-top: 8px;
    font-weight: 400;
}