 
.content{
    background: #fff;
    border-radius: 10px;
    padding: 24px;
}
.pro-dashboard{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}
.pro-analytics{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 25%;
    padding: 20px;
    min-height: 150px;
    border-radius: 8px;
}
.pro-info{
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.pro-compare{
    margin-top: auto;
}
.pro-analytics h4{
    font-size: 14px;
    font-weight: 500;
    color: #858585;
}
.pro-total{
    display: block;
    margin-top: 10px;
    font-size: 28px;
    font-weight: 500;
}
.pro-icon{
    font-size: 30px;
    padding: 10px;
    border-radius: 8px;
}
.pro-compare{
    font-size: 16px;
    color: #3f3f3f;
}
.pro-compare-number-up{
    color: #05a158;
}
.pro-compare-number-down{
    color: #fe5252;
}
.pro-analytics:nth-child(1) .pro-total {
    color: #8d22c3;
}
.pro-analytics:nth-child(2) .pro-total {
    color: #dfab0e;
}
.pro-analytics:nth-child(3) .pro-total {
    color: #69b5fc;
}
.pro-analytics:nth-child(4) .pro-total {
    color: #0dc25e;
}
.pro-analytics:nth-child(5) .pro-total {
    color: #fe5252;
}


.pro-analytics:nth-child(1) .pro-icon {
    color: #8d22c3;
    background: rgb(242, 216, 255);
}
.pro-analytics:nth-child(2) .pro-icon {
    color: #dfab0e;
    background: rgb(255, 242, 205);
}
.pro-analytics:nth-child(3) .pro-icon {
    color: #69b5fc;
    background: #d2e9ff;
}
.pro-analytics:nth-child(4) .pro-icon {
    color: #0dc25e;
    background: #bcfdd9;
}
.pro-analytics:nth-child(5) .pro-icon {
    color: #fe5252;
    background: #ffd6d6;
}

.chart-box{
    display: flex;
    align-items: start;
    justify-content: space-around;
    gap: 20px;
}


.chart-item{
    border-radius: 8px;
}
.chart-item:nth-child(2){
    width: 50%;
}
.chart-item:nth-child(2){
    width: 50%;
}