$primary-color: #e30119;
$category-color: #bc1728;
$main-width: 1200px;
$bg-white: #fff;



.headerBanner{
    background-color: black;
    min-height: 52px;
    &Img{
        width: 100%;
    }
}
.contentHeader{
    background-color: $primary-color;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 16;

    .navbarHeader{
        position: relative;
        flex-wrap: nowrap;
        // height: inherit;
        align-items: center;
        padding: 16px 0;
        gap: 10px;
        
        .categoryHeader{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 9px;
            width: 105px;
            height: 42px;
            padding: 2px 4px;
            background-color: $category-color;
            color: $bg-white;
            border-radius: 4px;

            .categoryIcon{
                font-size: 24px;
                display: inline-flex;
            }
            .categoryText{
                font-weight: 600;
                font-size: 12px;
                user-select: none;
            }
        }
        .categoryHeader:hover {
            cursor: pointer;
        }
        
        .link{
            height: inherit;
            display: block;
        }
        .search{
            flex: 1;
        }
        .inputSearchWrap{
            position: relative;
            background-color: #fff;

            .inputSearch{
                width: 100%;
                height: 42px;
                border-radius: 4px;
                padding: 8px 50px 8px 15px;
                font-size: 14px;
                font-weight: 500;
                border: none;
                outline: none;
            }

            .inputIcon{
                width: 30px;
                height: 100%;
                position: absolute;
                text-align: center;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                top: 50%;
                right: 0;
                font-size: 18px;
                transform: translateY(-50%);
                color: #212529;
            }
            .inputIcon > *:first-child {
                display: inline-block;
                height: 100%;
            }
        }
        
    }
    // .navbarHeader li{
    //     height: 42px;
    // }
    
}
.option_wrap{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo_mobile{
    display: none;
}
.iconSize{
    width: 36px;
    height: 100%;
    font-size: 22px;
    text-align: center;
}
.iconSize > svg {
    height: inherit;
}
.logoHeader{
    width: 140px;
    height: 100%;
    display: block;
}

.navbarListRight{
    display: flex;
    justify-content: space-between;


    
}
.navbarText{
    height: 100%;
    display: flex;
    align-items: center;
    color: $bg-white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    padding: 4px 6px;
}

.text-user{
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    line-height: 16px;
    white-space: nowrap;
}
.user-info{
    position: relative;
}
.user-info::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0;
    top: 96%;
    background: transparent;
}
.user-info:hover .dropdown-model-user{
    opacity: 1;
    visibility: visible;
}
.bgColorLogin{
    width: auto; 
    height: 42px;
    border-radius: 6px;
    background-color: $category-color;
}
.mt_banner{
    margin-top: 126px;
}
.contentNavigate{
    background-color: $bg-white;
    .navigate{
        
    }
    .navigateList{
        height: 100%;
        display: flex;
        padding: 6px 0;
    }
    
    .navigateItem{
        
        position: relative;
        cursor: pointer;
        flex: 1;
        
        &::after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 1px;
            height: 62%;
            margin: auto;
            background: #CFCFCF;
        }
    }
    
    
    .navigateItem:last-child::after{
        content: none;
    }
    .navigateItem a{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        white-space: nowrap;
        color: #111111;
        font-weight: 600;
        font-size: 13px;
        text-decoration: none;
        transition: ease 0.3s;
        padding: 10px 22px;
        &:hover{
            color: #E30019;
    
        }
    }
    .navigateIcon{
        font-size: 20px;
    }
}
.cart_mb{
    display: none;
}
.menu_mb_list{
    display: none;
}

// laptop
@media (min-width: 992px) and (max-width: 1200px) {
    .contentHeader{
        .navbarHeader {
            gap: 10px;
    
            .categoryHeader .categoryText {
                display: none;
            }
            .categoryHeader{
                width: 50px;
            }
        }
    }
    .navbarHeader .wrapText{
        display: none;
    }
    
    .bgColorLogin{
        width: auto;
        background-color: transparent;
    }
    .contentNavigate{
        .navigateList{
            overflow-x: auto;
            flex-wrap: nowrap;
            
            &::-webkit-scrollbar{
                display: none;
            }
        }
    }
}

// tablet
@media (min-width: 740px) and (max-width: 991px) {
    .logoHeader{
        display: none;
    }
    .logo_mobile{
        display: block;
        width: 40px;
    }
    .contentHeader{
        .navbarHeader {
            gap: 10px;
            padding: 8px 0;
            .categoryHeader .categoryText {
                display: none;
            }
            .categoryHeader{
                width: 50px;
            }
        }
        .inputSearchWrap {
            .inputSearch{
                height: 30px;
            }
        }
    }
    .option_wrap{
        display: none;
    }
    .navbarWrap{
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 0 10px;
    }
    .cart_mb{
        display: block;
    }
    .menu_mb_list{
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
        align-items: center;
        overflow-x: auto;
        padding: 0 10px 8px;

        &::-webkit-scrollbar{
            display: none;
        }

        > * {
            flex-shrink: 0;
            
        }
        
        & a{
            display: flex;
            align-items: center;
            color: #fff;
            padding: 6px 10px;
            font-size: 14px;
            font-weight: 500;
        }
        & i {
            display: none;

        }
        & svg{
            display: none;
        }
        
    }
    .contentNavigate{
        display: none;
    }
}


// mobile
@media (max-width: 739px) {
    .logoHeader{
        display: none;
    }
    .logo_mobile{
        display: block;
        width: 40px;
    }
    .navbarWrap{
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 0 10px;
    }
    .cart_mb{
        display: block;
    }
    .contentNavigate{
        display: none;
    }
}

.fixed_header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    transition: all 2s ease-in;
}

.user-info{
    position: relative;
    cursor: pointer;
}
.dropdown-model-user{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    min-width: 300px;
    top: 134%;
    right: 0;
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 2px 6px rgba(193, 193, 193, 0.25);
    transition: all 0.2s linear;
}
.dropdown-model-user-item{
    padding: 14px 0;
}
.dropdown-model-user-link{
    display: flex; 
    align-items: center;
    gap: 8px;
    font-size: 15px;
}
.dropdown-model-user-link:hover span{
    text-decoration: underline;
}
