
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

.container, 
.row{
	// outline: 1px solid rgb(56, 0, 146);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 62.5%;
	font: inherit;
    font-family: "Roboto", "SF Pro Display", 'Arial', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	padding-top: env(safe-area-inset-top, 10);
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
	padding-bottom: env(safe-area-inset-bottom);
	touch-action: none;     /* disables default gestures like pan, zoom */
	-webkit-user-select: none;
	user-select: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
	max-width: 100%;
	width: 100%;
	height: 100%;
	object-fit: contain;
	user-select: none;
	cursor: pointer;
	pointer-events: none;
	display: block;
}
a{
	text-decoration: none;
	color: #111111;
}
button, table, select{
	border: none;
	outline: none;
	cursor: pointer;
}

.ant-col-16{
	min-width: 100% !important;
}
.dark-theme{
	background: #141414 !important;
    color: #d4e1d9 !important;
}
.light-theme{
	background: #141414 !important;
    color: #808080 !important;
}
.text-color-base{
	
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  --b: 8px; 
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%,#f03355) content-box;
  mask:
  	repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
  	radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
    radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
          mask-composite: intersect;
  animation:l4 1s infinite steps(10);
}
@keyframes l4 {to{transform: rotate(1turn)}}
// Laptop
@media (min-width: 992px) and (max-width: 1400px) {
    
}
// Tablet
@media (min-width: 576px) and (max-width: 991px) {
    
}
// Mobile
@media (max-width: 575px) {
   
}

