@use '~/utils/scss/variables' as *;
@use '~/utils/scss/mixin' as *;

.product-main{
    background: #fff;
    border-radius: 4px;
}
.overlay-preview{
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 46, 46, 0.637);
    transition: all 0.3s ease-in-out;
    
}
.show-preview{
    position: fixed;
    inset: 0;
    display: flex;
    z-index: 99;
}
@keyframes scalePreview {
    from{
        opacity: 0;
        transform: scale(0);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}
.overlay-preview img{
    width: auto;
    height: 80%;
    animation: scalePreview 0.3s;
    transition: all 0.3s ease-in-out;
}
.icon-close{
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 6px;
    background-color: #727272b2;
    border-radius: 999px;
    right: 30px;
    top: 30px;
    color: #c9c9c9;
    cursor: pointer;
}
.box-slide{
    padding: 24px;
    // display: flex;
    // flex-direction: column;
    // gap: 20px;

    @include screen(mobile) {
        padding: 10px 24px;
        display: block;
    }
}
// .slide-position{
//     background-color: #428bca;
//     overflow: hidden;
//     max-height: 500px;
// }
// .wrapper-slide{
//     width: 50%;
//     height: 100%;
//     margin: 0 auto;
//     overflow: hidden;

//     @media (min-width: 740px) and (max-width: 991px) {
//         height: 400px;
//     }
//     // Mobile
//     @media (min-width: 576px) and (max-width: 739px) {
//         height: 300px;
//     }
//     @media (max-width: 575px) {
//         height: 200px;
//     }
// }
.slide-show{
    display: flex;
    align-items: center;
    height: 100%;
    transition: all 0.7s ease;
    align-items: center;
}
.carousel{
    position: relative;
    height: 500px;
    overflow: hidden;

    @include screen(laptop){
        height: 450px;
    }
    @include screen(tablet){
        height: 350px;
    }
    @include screen(mobile){
        height: 200px;
    }
}
.arrow{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    
}
.chevron{
    position: absolute;
    background: #e2e2e2;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #5e5e5e;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
.arrow-left{
    left: 0;
}
.arrow-right{
    right: 0;
}
.img-item{
    // position: relative;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    padding: 20px;
    cursor: pointer;

    img {
        width: auto;
        margin: 0 auto;
    }
}

.icon-preview{
    position: absolute;
    inset: 0;
    margin: auto;
    color: #fff;
    font-size: 30px;
    width: 100%;
    height: 100%;
    display: none;
    
    background-color: #8d8d8d71;
}
.img-item:hover .icon-preview{
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-img-product{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    margin-top: 10px;
    
    @include screen(mobile) {
        height: 80px;
    }
    
}
.img-item-sub{
    display: block;
    width: calc(100% / 10);
    height: 100%; 
    border-radius: 4px;
    overflow: hidden;
    padding: 4px;

    @include screen(laptop) {
        width: calc(100% / 8);
    }
    @include screen(tablet) {
        width: calc(100% / 6);
    }
    @include screen(mobile) {
        width: calc(100% / 5);
    }

    img{
        width: 100%;
    }
}
.product-price{
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 20px;

    @include screen(tablet) {
        font-size: rem(20);
        margin-bottom: 14px;
    }
    @include screen(mobile) {
        font-size: rem(18);
        margin-bottom: 2px;
    }
}
.product-price del {
    color: #6D6E72;
    font-size: 18px;
    font-weight: 400;
}
.price{
    font-size: rem(32);
    line-height: 40px;
    font-weight: 600;
    color: #E30019;

    @include screen(tablet) {
        font-size: rem(28);
    }
    @include screen(mobile) {
        font-size: rem(22);
    }
   
}

.percent{
    font-size: 14px;
    display: inline-block;
    padding: 4px 8px;
    color: #E30019;
    border: 1px solid #E30019;
    border-radius: 4px;
    vertical-align: text-bottom;
    white-space: nowrap;
}

.content{
    padding: 24px;

    @include screen(mobile) {
        padding: 10px;
    }
}
.product-name{
    margin-bottom: 12px;
    color: $color-text-heading;
    font-size: rem(24);
    font-weight: 500;

    @include screen(tablet) {
        font-size: rem(20);
        margin-bottom: 8px;
    }
    @include screen(mobile) {
        font-size: rem(16);
        margin-bottom: 4px;
    }
    
}
.review{
    margin-bottom: 12px;
    
    @include screen(tablet) {
        font-size: rem(20);
        margin-bottom: 8px;
    }
    @include screen(mobile) {
        font-size: rem(18);
        margin-bottom: 2px;
    }
}
.rating{
    font-size: rem(14);

    @include screen(mobile){
        font-size: rem(12);
    }
}
.rating-star{
    font-size: 13px;
    @include screen(mobile){
        font-size: rem(12);
    }
}

.review{
    color: #FF8A00;
}
.review-comment{
    color: $color-text-blue;
    margin-left: 10px;
    font-size: rem(14);

    @include screen(mobile){
        font-size: rem(12);
    }
}
.action-buys{
    display: flex;
    margin: 16px 0;
}
.btn-buy-now{
    width: 100%;
    text-align: center;
    padding: 10px 10px 14px;
    color: #E30019;
    border-radius: .5rem;
    position: relative;
    display: inline-block;
    line-height: normal;
    font-size: rem(14);
    font-weight: 500;
    background-color: #fff;
    border: 2px solid #E30019;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 1;
    overflow: hidden;
    outline: none !important;
    cursor: pointer;

    @include screen(mobile) {
        padding: 4px 10px;
    }
}
.btn-buy-now span{
    display: block;
}
.btn-buy-now span:first-child{
    font-size: rem(20);

    @include screen(mobile) {
        font-size: rem(16);
    }
}
.btn-buy-now span:last-child{

    @include screen(mobile) {
        font-size: rem(12);
    }
}
.btn-buy-now span:nth-last-child(1){
    margin-top: 6px;
}

.info-general p,h5{
    margin-bottom: rem(16);
    font-weight: 500;

    @include screen(mobile){
        font-size: rem(12);
        margin-bottom: rem(10);

    }
}

.credit-card{
    color: #ff0000;
}
.view-more{
    color: #428bca;
}
.calculator{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin-top: 20px;
    border-top: 1px solid #dbdbdba4;
    border-bottom: 1px solid #dbdbdba4;
    
    @include screen(mobile) {
        margin-top: 8px;
        font-size: rem(14);
    }
}
.add-to-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    background: #fff;
    color: #e30019;
    border: 1px solid #E30019;
    padding: .5rem 1rem;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: all .2s;
    height: 38px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.add-to-cart:hover{
    background: #e300190d;
}
.table-product-info, tr, td{
    border: 1px solid #ccc;
}

.product-info{
    position: relative;
    margin: 20px 0;
    max-height: 250px;
    border-radius: 6px;
    overflow: hidden;
    transition: max-height 0.5s ease;

    @include screen(mobile){
        margin: 10px 0;
    }
}
.box-wrap{
    padding: rem(24);
    background-color: #fff;

    @include screen(mobile){
        padding: rem(10);
    }
}
.product-info h4{
    font-size: 18px;
    font-weight: 500;
}
.info-title{
    font-size: rem(24);
    font-weight: 600;
    margin-bottom: rem(16);

    @include screen(mobile) {
        font-size: rem(16);
        margin: rem(6) 0 rem(10);
    }
}

.box-table{
    margin-top: 10px;
}
.table-product-info td{
    padding: 10px;
    color: #428bca;
    font-weight: 500;
    font-size: rem(16);
    text-align: center;
    
    @include screen(mobile){
        font-size: rem(12);
        padding: 6px 4px;
        line-height: rem(16);
    }
}
.table-product-info td:nth-child(1){
    background-color: #f7f7f7;
}
.table-product-info td:nth-child(3){
    color: #000;
}
.text-example{
    margin: 16px 0;
}
.btn-toggle{
    display: block;
    width: auto;
    background: transparent;
    outline: none;
    margin: 60px auto 0;
    font-size: rem(16);
    font-weight: 600;
    color: #428bca;
    text-align: center;

    @include screen(mobile){
        font-size: rem(12);
    }
}
.fade-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: rem(120);
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.9) 80%, rgba(255, 255, 255, 0.6) 100%);
    transition: opacity 0.3s ease;

    @include screen(mobile){
        height: rem(80);
    }
  }
.btn-toggle i{
    margin-left: 10px;
}
.news{
    height: auto;
    margin: 20px 0;
    padding: rem(24);
    background: #fff;
    border-radius: 6px;

    @include screen(tablet) {
        margin-top: 0;
    }
    @include screen(mobile) {
        margin: 0;
        padding: rem(10);
    }
}
.news h3{
    font-weight: 600;
    font-size: rem(20);
    margin-bottom: 14px;

    @include screen(mobile){
        font-size: rem(16);

    }
}
.sticky-news{
    position: sticky;
    top: 90px;
    left: 0;
}
.list-news{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 6px;
}
// .list-news-item{
//     @include screen(mobile){
//         width: calc(100% / 2);
//     }
// }
.news-title{
    font-size: rem(14);
    line-height: 1.4;
    @include limit-line(3);

    @include screen(mobile){
        font-size: rem(12);
        @include limit-line(2);
    }
}
.list-news-link{
    display: flex;
    align-items: flex-start;
    padding: 4px 8px;
}
.content-thumbnail{
    width: 25%;
    border-radius: 6px;
    overflow: hidden;
}
// .content-thumbnail img {
   
// }
.list-news-item p{
    width: 80%;
    max-width: 80%;
    padding: 0px 14px 0;
    height: 100%;
}