@use '../../utils/scss/variables' as *;

.product-main{
    background: #fff;
    border-radius: 4px;
}
.box-slide{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.wrapper-slide{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;

}
.slide-show{
    display: flex;
    align-items: center;
    height: 100%;
    // padding-top: 100%;
    transition: all 0.7s ease;
    align-items: flex-start;
}
.carousel{
    position: relative;
    height: 100%;

}
.arrow{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    
}
.chevron{
    position: absolute;
    background: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #1f1f1f;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
.arrow-left{
    left: 0;
}
.arrow-right{
    right: 0;
}
.img-item{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.list-img-product{
    height: 100px;
    display: flex;
    align-items: start;
    gap: 4px;

}
.img-item-sub{
    display: block;
    width: calc(100% / 8);
    height: 100%; 
    border-radius: 6px;
    overflow: hidden;
    // padding: 2px;
}
.product-price{
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 20px;
}
.product-price del {
    color: #6D6E72;
    font-size: 18px;
    font-weight: 400;
}
.price{
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    color: #E30019;
}

.percent{
    font-size: 14px;
    display: inline-block;
    padding: 4px 8px;
    color: #E30019;
    border: 1px solid #E30019;
    border-radius: 4px;
    vertical-align: text-bottom;
    white-space: nowrap;
}

.content{
    padding: 24px;
}
.product-name{
    margin-bottom: 12px;
}
.review{
    margin-bottom: 12px;
    
}
.rating{
    font-size: 14px;
}
.rating-star{
    font-size: 13px;
}
.product-name{
    color: $color-text-heading;
    font-size: 24px;
    font-weight: 500;
}
.review{
    color: #FF8A00;
}
.review-comment{
    color: $color-text-blue;
    margin-left: 10px;
    font-size: 14px;
}
.action-buys{
    display: flex;
    margin: 16px 0;
}
.btn-buynow{
    width: 100%;
    text-align: center;
    padding: 10px 10px 14px;
    color: #E30019;
    border-radius: .5rem;
    position: relative;
    display: inline-block;
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    background-color: #fff;
    border: 2px solid #E30019;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 1;
    overflow: hidden;
    outline: none !important;
    cursor: pointer;
}
.btn-buynow span{
    display: block;
}
.btn-buynow span:first-child{
    font-size: 20px;
}
.btn-buynow span:nth-last-child(1){
    margin-top: 6px;
}

.info-general p,h5{
    margin-bottom: 16px;
    font-weight: 500;
}

.credit-card{
    color: #ff0000;
}
.view-more{
    color: #428bca;
}
.calculator{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin-top: 20px;
    border-top: 1px solid #dbdbdba4;
    border-bottom: 1px solid #dbdbdba4;
}
.add-to-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    background: #fff;
    color: #e30019;
    border: 1px solid #E30019;
    padding: .5rem 1rem;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: all .2s;
    height: 38px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.add-to-cart:hover{
    background: #e300190d;
}
.table-product-info, tr, td{
    border: 1px solid #ccc;
}

.product-info{
    position: relative;
    margin: 20px 0;
    max-height: 250px;
    margin-right: 24px;
    border-radius: 6px;
    overflow: hidden;
    transition: max-height 0.5s ease
}
.box-wrap{
    padding: 24px 0 24px 24px;
    background-color: #fff;
}
.product-info h4{
    font-size: 18px;
    font-weight: 500;
}
.info-title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.box-table{
    margin-top: 10px;
}
.table-product-info td{
    padding: 10px;
    color: #428bca;
    font-weight: 500;
    font-size: 16px;
}
.table-product-info td:nth-child(1){
    background-color: #f7f7f7;
}
.table-product-info td:nth-child(3){
    color: #000;
}
.text-example{
    margin: 16px 0;
}
.btn-toggle{
    display: block;
    width: auto;
    background: transparent;
    outline: none;
    margin: 60px auto 0;
    font-size: 16px;
    font-weight: 600;
    color: #428bca;
    text-align: center;
}
.fade-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px;
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.9) 80%, rgba(255, 255, 255, 0.6) 100%);
    transition: opacity 0.3s ease;
  }
.btn-toggle i{
    margin-left: 10px;
}
.news{
    
    height: auto;
    max-height: 380px;
    margin-top: 20px;
    padding: 14px;
    background: #fff;
    border-radius: 6px;
}
.news h3{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 14px;
}
.sticky-news{
    position: sticky;
    top: 90px;
    left: 0;
}
.list-news{
    height: 100%;
}
.list-news-item{
    margin-top: 10px;
    
}
.news-title{
    display: -webkit-box;
    -webkit-line-clamp: 2;     /* 👈 Số dòng muốn giới hạn */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 1.2;
}
.list-news-link{
    display: flex;
    align-items: flex-start;
}

.content-thumbnail{
    // position: relative;
    // width: 100%;
    // padding-top: 56%;
    width: 20%;
    border-radius: 6px;
    overflow: hidden;
}
.content-thumbnail img {
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
}
.list-news-item p{
    width: 80%;
    max-width: 80%;
    padding: 0px 14px;
    height: 100%;
}